@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    @apply bg-zinc-950 text-white
}
